DiscClient/DiscClient/Connected Services/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DiscHostService" />
  <xs:element name="ShowAllDiscs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowAllDiscsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DiscHostService" minOccurs="0" name="ShowAllDiscsResult" nillable="true" type="q1:ArrayOfDisc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllSellInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllSellInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DiscHostService" minOccurs="0" name="AllSellInfoResult" nillable="true" type="q2:ArrayOfSellInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TotalAmountSellGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TotalAmountSellGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DiscHostService" minOccurs="0" name="TotalAmountSellGroupResult" nillable="true" type="q3:ArrayOfGroupInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MostPopularGroup">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MostPopularGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MostPopularGroupResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDiscBand">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DiscHostService" minOccurs="0" name="sellInfo" nillable="true" type="q4:SellInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDiscBandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDiscBandResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSell">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="discName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cashier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>